<section class="project" role="main"  id="asylum" itemscope itemtype="http://schema.org/WebSite">
	<h2 itemprop="name">Asylum - 2.8 hours later</h2>
	
	<h3>The project</h3>
	<div itemprop="description">
		<p>
		2.8 Hours later is probably the largest street game running in the UK, and its with zombies - what more can you ask for!
		They needed someone to implement a responsive web site design</p>
		<h3>My work
		<ul class="technologies">
	   		<li><span class="badge badge-html">HTML</span></li>
	   		<li><span class="badge badge-css">LESS</span></li>
	   		<li><span class="badge badge-html">Boostrap</span></li>
	   		<li><span class="badge badge-api">Facebook API</span></li>
	   		<li><span class="badge badge-api">Twitter API</span></li>
		</ul>
		</h3>
		<p><img src="images/28hourslater.png" itemprop="image" alt="2.8 hours later" class="img-rounded" />
		Slingshot tasked me with implementing a complex site design to look as equally compelling on a PC monitor as on your phone 
		or tablet, this was achieved with the bootstrap framework and a judicious use of media queries</p>
		<p>There is also the possibility to log in to the site via Facebook or Twitter, and volunteer to 
		help out during the games, 
		a rare chance to become a zombie for the weekend!</p>
		<p>Visit the <a href="http://2.8hourslater.com" itemprop="url">2.8 Hours Later site</a>
	</div>
</section>