<section class="project" role="main"  id="bourjoisbelle" itemscope itemtype="http://schema.org/CreativeWork">
	<h2 itemprop="name">Bourjois Belle</h2>
	<h3>The Project</h3>
	<div itemprop="description">
		<p><img src="images/belle.jpg" itemprop="image" alt="Bourjois belle" class="img-rounded" />
		
		<p><a href="http://slingshoteffect.co.uk">Slingshot</a> were contracted by <a href="http://www.mecglobal.co.uk/">MEC</a> 
		to produce a street game to promote the French makeup company Bourjois, during London Fashion week.</p>
		<p>The delivered GPS based game allowed Fashion Week attendees to &quot;hunt&quot; for the Bourjois model, once found they
		could ask her a special question to unlock a special prize.</p>
		<p>In parallel with the street based game, we also delivered a Facebook application where player&apos;s not based in London could
		guess the belle&apos;s initial position to win prizes.</p> 
		<h3>My work
		<ul class="technologies">
			<li><span class="badge badge-lang">PHP</span></li>
			<li><span class="badge badge-api">Facebook</span></li>
			<li><span class="badge badge-maps">Google maps</span></li>
			<li><span class="badge badge-maps">GPS</span></li>
			<li><span class="badge badge-html">HTML</span></li>
			<li><span class="badge badge-css">CSS</span></li>
		</ul>
		</h3>
		<p>I was tasked with developing the Facebook application which took GPS generated data and mapped the Belle's locations onto a
		Google Map. The GPS data stream was rendered using polylines onto the map so that the Belle&apos;s route could be seen.</p>
		<p>Player scores were recorded in a mySQL database and displayed as part of the Facebook application, these scores were then 
		also used to select the winning participants</p>
		<p><a itemprop="video" href="https://www.youtube.com/watch?v=Ep6UxWqoAp0">Watch the video</a> that MEC produced
		</p>
		<p>The final project was nominated for an award at the 2012 Cannes Advertising Festival for technical innovation and
		for the <a href="http://www.socialbuzzawards.com/archive/2012/41">social buzz awards</a> in the category
		&quot;Best use of Check In/Location Based Services&quot;</p>
	</div>
</section>