<section class="project" role="main"  id="epics" itemscope itemtype="http://schema.org/WebSite">
	<h2 itemprop="name">EPICS</h2>
	
	<h3>The project</h3>
	<div itemprop="description">
		<p>
		<a href="http://www.eadtu.eu/">EADTU</a> is Europe&apos;s leading institutional association for open and distance higher education, 
		and is at the heart of the modernisation agenda of European universities.</p>
		<p>EADTU has a membership of fifteen institutions and fourteen national associations across 25 nations. Its membership covers over 200 universities and around 3 million students.</p>
		<p>In conjunction with <a href="http://futuron.eu/">Futuron</a>, I was approached to build a European Portal for International Courses and Services (EPICS). 
		Its aim was to enable students to find international courses within the mainstream offerings of their university.</p>
		<h3>My work
		<ul class="technologies">
	   		<li><span class="badge badge-html">HTML</span></li>
	   		<li><span class="badge badge-css">CSS</span></li>
	   		<li><span class="badge badge-lang">PHP</span></li>
		</ul>
		</h3>
		<p><img src="images/epics.png" itemprop="image" alt="Epics" class="img-rounded" />
		Using <a href="http://fabrikar.com">Fabrik</a>, we provided an administration section for universities to add and manage their courses.
		Students were then able to search these courses or browse via a tagging system.</p>
		<p>Visit the <a href="http://www.epics-ve.eu/" itemprop="url">Epics</a> website.</p>
	</div>
</section>