<section class="project" role="main"  id="fabrik" itemscope itemtype="http://schema.org/CreativeWork">
   	<h2 itemprop="name">Fabrik <small>Flexible Joomla! content creation</small></h2>
   	<h3>The project</h3>
   	<div itemprop="description">
	   	<p><a href="http://fabrikar.com">Fabrik</a> is a highly Flexible Joomla! component for building custom web applications. 
			Create beautiful forms to allow your users to enter data, then display the data in lists, map, calendars, timelines, charts and more!
		</p>
		<p>It's innovative engine manages your database relationships for you, and our fine grained access control settings ensure that each user 
		has access to just the right sections of your app.</p>
	   	<h3>My work
			<ul class="technologies">
				<li><span class="badge badge-lang">PHP</span></li>
				<li><span class="badge badge-html">Bootstrap</span></li>
				<li><span class="badge badge-lang">JavaScript</span></li>
				<li><span class="badge badge-build">Ant</span></li>
				<li><span class="badge badge-db">MySQL</span></li>
				<li><span class="badge badge-lang">mootools</span></li>
			</ul>
		</h3>
		<p>
		<img src="images/fabrik-logo.png" itemprop="image" alt="Fabrik" class="img-rounded">For the last eight years this has been my 
		major project, for which I am both the project manager and the principal developer.
		</p>
		<p>Being an open source project I get to interact with and guide a team of volunteers all of whom have made Fabrik into the 
		successful project it is. My responsibilities range enormously from teaming up and tutoring junior developers, 
		to providing infrastructure for translators.
		</p>
		<p>
		I am responsible for the applications architecture and providing the project with a vision
		</p>
	</div>
</section>
			
	
