<section class="project" role="main"  id="jed" itemscope itemtype="http://schema.org/WebSite">
	<h2 itemprop="name">Joomla Extension Directory</h2>
	<div itemprop="description">
		<ul class="technologies">
			<li><span class="badge badge-lang">PHP</span></li>
			<li><span class="badge badge-lang">Angular JS</span></li>
			<li><span class="badge badge-build">Grunt</span></li>
			<li><span class="badge badge-css">CommonJS</span></li>
		</ul>
		<h3>The project</h3>
		<p>Joomla! is one of the world&apos;s top 3 open source content management systems. Part of the project&apos;s immense success is the 
		amazing choice of available extensions. The Joomla! Extension Directory (JED) is the defacto location to find and download over 8000
		extensions.</p>
		<p>The Joomla! team were looking for a redesign of the site, the brief being twofold, first to integrate their current set of disperate 
		administration solutions into a concise and user friendly interface for the JED team. 
		Secondly, the front needed to be redesigned and simplified with the implementation of a new commenting and rating system.</p>
		<h3>My work</h3>
		<p><img itemprop="image" src="images/jed.png" alt="Joomla Extension Directory" class="img-rounded"/>The Fabrik team were chosen to redesign the new
		Joomla Extension Directory.</p>
		<p>Both the user facing and administration sections run off the same engine. Whilst the front end is rendered as individual web pages, the 
		administration was built as a single page Angular.js application.</p>
		<p>Expect the new JED site to be released in the fall of 2014.</p>
	</div>
</section>