<section class="project" id="jed">
	<h2>Projects / Joomla Extension Directory</h2>
	<ul class="technologies">
		<li><span class="badge badge-lang">PHP</span></li>
		<li><span class="badge badge-lang">Angular JS</span></li>
		<li><span class="badge badge-build">Grunt</span></li>
		<li><span class="badge badge-css">CommonJS</span></li>
	</ul>
	<p><img src="images/jed.png" alt="Joomla Extension Directory" class="img-rounded"/>The Fabrik team were chosen to redesign the new
	Joomla Extension Directory. The brief was twofold, first to integrate their current set of disperate administration solutions 
	into a concise and user friendly interface for the JED team. Secondly, the front end was redesigned, simplified and an improved
	commenting and rating system put in place.</p>
	<p>Expect the new J.E.D site to be released in the fall of 2014</p>
</section>