<section class="project" role="main"  itemscope itemtype="http://schema.org/WebSite">
	<h2 itemprop="name">Liaisun</h2>
	<div itemprop="description">
		<ul class="technologies">
			<li><span class="badge badge-lang">Nodejs</span></li>
			<li><span class="badge badge-api">Websockets</span></li>
			<li><span class="badge badge-api">WebRTC</span></li>
			<li><span class="badge badge-db">Mongo DB</span></li>
		</ul>
		<h3>The Project</h3>
		<p><img src="images/liaisun.png" alt="liaisun" class="img-rounded" />
		<p>This highly abitious project aims to provide a real time collaborative environment for managing, sharing and annotating various
		 media types.</p>
		<h3>My work</h3>
		<p>For the realtime part of this applicaiton I designed a node.js and Socket.io server side application.</p>
		<p>
		<img src="images/liaisun_screenshot.png" itemprop="image" alt="Liaisun screen shot" class="img-rounded" width="500px" height="297px" />
		<strong>Collaborative drawing</strong> The collaborative drawing app allows each user to draw, and see other users&apos;
		drawings in realtime. Drawing is managed by a multi-layered HTML canvas object. 
		</p>
		<p><strong>Collective writing</strong> was achieve using operational transformations, a technology similar that used by Google
		docs.
		</p>
		<p><strong>Syncronised video playback</strong> - the node.js server acts as a conductor ensuring that when a video is played 
		all users see the same frame at the same time. As with the collaborative drawing, users could then draw directly over the video.</p>
	</div>
</section>