<section class="project" id="msge">
   	<h2>Projects / MSGE</h2>
   	<ul class="technologies">
		<li><span class="badge badge-lang">PHP</span></li>
		<li><span class="badge badge-api">Twitter API</span></li>
		<li><span class="badge badge-lang">SMS</span></li>
		<li><span class="badge badge-api">Websockets</span></li>
	</ul>
  	<p><img src="images/msge.png" alt="MSGE" class="img-rounded"/>MSGE is a multi channel realtime group chat server which I developed for 
  	<a href="http://slingshoteffect.co.uk">Slingshot effect</a> to help them manage
  	comminication between teams of players during their various street games.</p>
  	<p>Communication is achieved via SMS messages, emails and tweets, so you can 'join' a game by texting 'join gameName', or if there are teams you can 'join team Name'.</p>
</section>