<section class="project" role="main"  id="podion" itemscope itemtype="http://schema.org/WebSite">
	<h2 itemprop="name">Podion</h2>
	<div itemprop="description">
		<ul class="technologies">
			<li><span class="badge badge-lang">PHP</span></li>
			<li><span class="badge badge-lang">Angular JS</span></li>
			<li><span class="badge badge-build">Grunt</span></li>
			<li><span class="badge badge-api">Webservices</span></li>
		</ul>
		<p>
			<img src="images/podion.png" itemprop="image" alt="Podion" class="img-rounded">I am the lead developer for this stylish events management web app.
		</p>
		
		<p>
			The initial version of this application was created using Fabrik, you can see an example of it running at 
			<a href="http://ecicultuurfabriek.nl/" itemprop="url">ecicultuurfabriek.nl</a>. 
			The next iteration which will be out in the fall of 2014 is a complete rebuild, 
			the whole application has been redesigned into three separate sections, to create a flexible content solution.
		</p>
		<ul>
			<li>Administration - an angular.js web app, with a mini app for managing social media via <a href="bufferapp.com">buffer</a>.</li>
			<li>Content server - a REST server which stores events and serves the various views.</li>
			<li>Front end application - a light weight front end application populated with data served from the content server.</li>
		</ul>
	</div>
 </section>