  <section class="project" role="main"  id="tweeture" itemscope itemtype="http://schema.org/CreativeWork">
  	<h2 itemprop="name">Tweeture</h2>
  	<h3>The project</h3>
  	<div itemprop="description">
	  	<p>The UK Arts Council commissioned a group of companies to create a social media experience to capture the imagination
	  	of SXSW festival attendants and promote Bristol as a technology hub.</p>
	  	<p>The team brainstormed the concept of the Tweeture; a
	   	 carry-around monster that likes to meet new people. 
	   	He tweets his whereabouts and how he is being treated by those who pick him up, 
	   	allowing his new friends to accrue friendship points if they take good care of him.</p>
	  	<h3>My work
	   		<ul class="technologies">
		   		<li><span class="badge badge-maps">GPS</span></li>
		   		<li><span class="badge badge-api">Webservices</span></li>
		   		<li><span class="badge badge-lang">PHP</span></li>
		   		<li><span class="badge badge-api">Twitter API</span></li>
		   	</ul>
		</h3>
	   	
	   	<p><img src="images/tweeture.jpg" itemprop="image" alt="tweeture" class="img-rounded"/>My role was to collect the data stream from the Tweeture&apos;s 
	   	various input devices (accelerometer, GPS, light sensor), 
	   	along with any tweets that were sent by players to the tweeture. This data was then mapped to the Tweeture&apos;s personality 
	   	resulting in a series of responses sent via the <a href="https://twitter.com/thetweeture" itemprop="url" >Tweetures&apos;s Twitter account</a>.
	   	</p>
	   	<p>
	   	I also managed the scoring system, which showed daily and overall rankings of how well the player&apos;s took care of the 
	   	Tweeture.
	   	</p>
	   	<p>
	   	To see the Tweeture in action take a look at the <a itemprop="video" href="http://vimeo.com/10142976">BBC coverage on vimeo.</a>
	   	</p>
	</div>
</section>