@background: hsl(70, 100%, 95%);

/**
 * Kuler scheme: 
 */
 @import url(http://fonts.googleapis.com/css?family=Nixie+One);
 @import url(http://fonts.googleapis.com/css?family=Maven+Pro);

@colour1: #AFCDE0;
@colour2: #6EB7E5;
@colour3: #4B5860;
@colour4: #2E4D60;
@colour5: #879EAD;

@bgcolour: #AFCDE0;
@colour3-light: lighten(@colour3, 10%);
@colour5-light:lighten(@colour5, 10%);
@colour4-dark: darken(@colour4, 30%);
@colour5-dark: darken(@colour5, 30%);

@higlight: hsl(296, 100%, 82%); 
@higlight: #AD4334;
@darkight: hsl(147, 15%, 65%);

body {
	background-image: url(../images/pattern2.gif);
}

.jumbotron p {
	color: @colour1;	
}

.jumbotron  h1 {
	font-family: 'Nixie One', cursive;
}

h2, h3 {
	font-family: 'Nixie One', cursive;
	font-weight: bold;
}

body{
	font-family: 'Maven Pro', cursive !important;
	font-weight: 400;
}

.jumbotron .nav>li>a {
	color: @colour1;
}

.jumbotron .nav>li>a:hover {
	color: #fff;
}

.badge-api {
	color: @colour1;
}

.social a {
	color: @colour5;
}

.social a:hover {
	color: @higlight;
}

.jumbotron .social {
	ul {
		margin-top: 20px;
	}
	li {
		display: inline-block;
	}	
}


.project-nav {
	h3
	{
		position: relative;
		padding: 10px;
		margin: 10px -35px 10px 0;
		-webkit-box-shadow: 0px 1px 4px #888;
		-moz-box-shadow: 0px 1px 4px #888;
		box-shadow: 0px 1px 4px #888;
		font-size: 1em;
		background: @colour5;
		color: #fff;
	}
	
	h3:after
	{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		right: -9px;
		bottom: -12px;
		border-width: 10px 15px;
		border-style: solid;
		border-color: transparent transparent transparent @colour3;
		z-index: -1;
	}
	
	h3:before
	{
		content: ' ';
		position: absolute;
		width: 44px;
		height: 30px;
		right: -16px;
		bottom: -12px;
		border-color: @colour5 transparent @colour5 @colour5;
		border-width: 15px;
		border-style: solid;
		z-index: -2;
	}
}

