<h2>Contact me</h2>
<div class="row">
	<div class="col-xs-6">
		<form role="form" name="contactForm" ng-submit="submitForm(contactForm.$valid)" ng-controller="contactCtrl" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
				<label for="name">Name</label>
				<input type="name" name="name" class="form-control" id="name" placeholder="Name" ng-model="contact.name" required />
				 <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">You name is required.</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
				<label for="email">Email address</label>
				<input type="email" name="email" class="form-control" id="email" placeholder="Enter email" ng-model="contact.email" required />
				<p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">A valid email address is required.</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
				<label for="message">Message</label>
				<textarea name="message" class="form-control" rows="10" id="message" placeholder="" ng-model="contact.message" required></textarea>
				<p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block">Please enter a message.</p>
			
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
			<div class="alert alert-info" ng-show="message">{{message}}</div>
			<div class="alert alert-warning" ng-show="error">{{error}}</div>
		</form>
	</div>
	<div class="col-xs-6 social">
		<ul>
			<li><a href="http://lnkd.in/d5VH-MT" alt="Linked in" rel="me"><span class="fa fa-linkedin-square"></span></a></li>
			<li><a href="https://twitter.com/pollen8" alt="Twitter" rel="me"><span class="fa fa-twitter"></span></a></li>
			<li><a href="https://github.com/pollen8" alt="Github" rel="me"><span class="fa fa-github-alt"></span></a></li>
			<li><a href="https://plus.google.com/+RobClayburn" alt=" Google +" rel="me"><span class="fa fa-google-plus-square"></span></a></li>
		</ul>
	</div>
</div>